@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  @apply container max-w-screen-xl mx-auto px-6;
}

.header {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.044) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(21px);
}

.hero_gradient {
  background: linear-gradient(
    178.69deg,
    #000000 2.76%,
    rgba(0, 0, 0, 0.71) 46.25%,
    rgba(0, 0, 0, 0.72) 58.39%,
    rgba(0, 0, 0, 0.58) 76.75%,
    rgba(0, 0, 0, 0.58) 81.95%,
    rgba(0, 0, 0, 0.58) 89.15%,
    rgba(0, 0, 0, 0.58) 98.89%
  );
}

.heading {
  @apply text-[25px] md:text-4xl font-semibold font-Playfair leading-[45px] md:leading-[83px];
}

.footer_heading {
  @apply font-Playfair text-lg md:text-xl leading-[45px] font-semibold;
}
.footer_links {
  @apply cursor-pointer hover:text-white/90 w-fit font-Manrope text-base md:text-lg leading-[45px] font-medium  text-gray;
}

.scrollerMain::-webkit-scrollbar {
  width: 6px !important;
}

.scrollerSec::-webkit-scrollbar {
  width: 3px !important;
}

.scroller::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.scroller::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 15px;
}

.blog_overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.655622) 65.56%,
    rgba(0, 0, 0, 0.75) 70.54%,
    rgba(0, 0, 0, 0.79) 77.35%,
    rgba(0, 0, 0, 0.88) 85.21%,
    #000000 100%
  );
  border-radius: 10px;
}
@media (min-width: 768px) {
  .blog_overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.655622) 55.43%,
      rgba(0, 0, 0, 0.699117) 62.39%,
      rgba(0, 0, 0, 0.75) 70.1%,
      rgba(0, 0, 0, 0.79) 77.35%,
      rgba(0, 0, 0, 0.88) 85.21%,
      #000000 100%
    );
    border-radius: 10px;
  }
}
